body#about {
  @media @xl {
    .masthead {
      height: auto;
      margin-bottom: 30px;
      min-height: 0;
    }
  }
}

.about {
  margin-top: 68px;
  width: 100%;
  overflow-x: hidden;

  &__header {
    .xs-container;
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-photo {
      width: 100vw;
      height: calc(100vw * 0.75); // maintain 4:3 aspect
      overflow: hidden;
      margin-bottom: 20px;

      img {
        max-width: 100%;
        margin-top: -30%;
      }
    }

    &-long-bio {
      .xs-container;

      font-size: 14px;
      line-height: 21px;

      margin-bottom: 30px;
    }
  }

  &__contact {
    .xs-container;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: @burger-width-sm;
  }
}

#contact-form {
  margin-top: 40px;
  width: 100%;

  .contact-form {
    &__group {
      margin-bottom: 20px;
      position: relative;
    }

    &__error-text,
    &__requirments {
      font-size: @type-small;
      line-height: @type-small + 2px;
      font-weight: @font-normal-book;
      display: block;
      margin: 5px 0 0;
    }

    &__error-text {
      color: @color-warning;
      font-weight: @font-normal-med;
    }

    &__requirments {
      color: @color-light-grey;
    }
  }
  label {
    font-size: @type-xs;
    letter-spacing: @h2-sm-ls;
    font-weight: @font-normal-med;
    text-transform: uppercase;
    position: absolute;
    top: 5px;
    left: 5px;
    color: @color-dark-grey;

    &.invalid {
      color: @color-warning;
    }
  }

  input,
  textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 15px 5px 2px;
    font-family: @font-mono;
    font-size: 14px;
    line-height: 21px;
    color: @color-dark-grey;
    background-color: @color-lightest-grey;
    appearance: none;
    border-radius: 3px;
    overflow: hidden;

    &.valid {
      background-color: @color-success-bg;
    }

    &.invalid {
      background-color: @color-warning-bg;
      color: @color-warning;
    }
  }
}
