body {
  margin: 0;
  padding: 0;
  background-color: @color-bg;
  color: @color-black;
  max-width: 100%;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: percentage(@bp-container-sm / @bp-xs-baseline);
  border-top: solid @h2-border-height @color-light-grey;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: -@h2-border-height 0 0;
    padding-top: 10 - @h2-border-height;
    border-top: solid @h2-border-height @color-black;
  }

  @media @md {
    width: @bp-container-md;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: unset;

    &__title-wrapper {
      flex-basis: 100%;
      justify-self: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}

body.scrolled {
  .main {
    margin-top: 68px;
    overflow: hidden;
  }
}
