.masthead {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  &__headline {
    display: inline-block;
    flex-grow: 1;
    margin: 0 0 2px;
    border-top: solid @tl-height @color-highlight;
    text-align: center;

    a {
      text-decoration: none;
      color: @color-highlight;

      @{no-touch} &:hover {
        text-decoration: none;
      }
    }
  }

  &__aside {
    font-family: @font-mono;
    font-size: @aside-sm;
    text-align: center;
    letter-spacing: -0.05px;
  }

  &__links {
    @links-height: 26px;

    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 20px 0 30px;
    padding: 0;
    justify-content: space-around;
    width: percentage(@bp-container-sm / @bp-xs-baseline);
    height: @links-height;

    li {
      margin: 0;
      padding: 0;

      a {
        display: inline-block;
        width: @links-height;
        height: @links-height;

        svg {
          width: @links-height;
          height: @links-height;

          path {
            fill: @color-mid-grey;
          }
        }
      }
    }

    &--linkedin a{
      @{no-touch} &:hover {
        svg path {
          fill: @color-linkedin;
        }
      }
    }

    &--github a{
      @{no-touch} &:hover {
        svg path {
          fill: @color-black;
        }
      }
    }

    &--instagram a{
      @{no-touch} &:hover {
        svg path {
          fill: @color-insta;
        }
      }
    }

    &--strava a{
      @{no-touch} &:hover {
        svg path {
          fill: @color-strava;
        }
      }
    }
  }

  &__intro {
    width: percentage(@bp-container-sm / @bp-xs-baseline);
    font-family: @font-mono-light;
    font-size: @intro-sm;
    line-height: @intro-sm-lh;
    color: @color-dark-grey;

    strong {
      font-family: @font-mono-med;
    }
  }
}

// styles to apply once we've scrolled
body.scrolled {
  .masthead {
    width: 100%;
    position: fixed;
    height: 68px;
    background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 0%, #FFFFFF 61%);
    border-top: solid @tl-scroll-height @color-light-grey;

    &__headline {
      border-top-width: @tl-scroll-height;
      font-size: @h1-sm-scrolled;
      margin-top: -@tl-scroll-height;
    }

    &__links,
    &__aside,
    &__intro {
      display: none;
    }
  }

}
