// global
body {
  font-family: @font-normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: @font-normal;
  font-weight: @font-normal-light;
  font-size: @h1-sm;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: @h1-sm-ls;

  @media @md {
    font-size: @h1-lg;
    letter-spacing: @h1-lg-ls;
  }
}

h2 {
  font-family: @font-normal;
  font-weight: @font-normal-med;
  font-size: @h2-sm;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: @h2-sm-ls;

  @media @md {
    font-size: @h2-lg;
    letter-spacing: @h2-lg-ls;
  }
}
