// Fonts
@font-normal: ~"'Gotham A', 'Gotham B', 'Helvetica Neue', Helvetica, Arial, sans-serif";
@font-mono: ~"'Input Mono Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif";

// Colors
@color-magenta: #FF17A2;

// Breakpoints (upper ranges)
@bp-sm: 767px;
@bp-md: 1024px;
@bp-lg: 1200px;
